body {
  margin: 2rem auto;
  padding: 2rem 5rem;
}

.pages {
  padding: 1rem 10rem;
}

.navbar {
  padding: 1.5rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
  position: fixed;
  top: 0;
}

.search-page {
  display: flex;
  justify-content: space-between;
}

.generatedImg {
  height: 300px;
}

.bingImagesDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 4rem;
}

.bingImg {
  width: 200px;
  height: auto;
}
